src/wsdl/localhost_8080/backEnd/Service.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices/">

<xs:element name="Actualizar" type="tns:Actualizar"/>

<xs:element name="ActualizarEmpleados" type="tns:ActualizarEmpleados"/>

<xs:element name="ActualizarEmpleadosResponse" type="tns:ActualizarEmpleadosResponse"/>

<xs:element name="ActualizarEmpleados_departamento" type="tns:ActualizarEmpleados_departamento"/>

<xs:element name="ActualizarEmpleados_departamentoResponse" type="tns:ActualizarEmpleados_departamentoResponse"/>

<xs:element name="ActualizarResponse" type="tns:ActualizarResponse"/>

<xs:element name="Eliminar" type="tns:Eliminar"/>

<xs:element name="EliminarResponse" type="tns:EliminarResponse"/>

<xs:element name="actualizarDepartamento" type="tns:actualizarDepartamento"/>

<xs:element name="actualizarDepartamentoResponse" type="tns:actualizarDepartamentoResponse"/>

<xs:element name="agregar" type="tns:agregar"/>

<xs:element name="agregarDepartamento" type="tns:agregarDepartamento"/>

<xs:element name="agregarDepartamentoResponse" type="tns:agregarDepartamentoResponse"/>

<xs:element name="agregarEmpleadoDepartamento" type="tns:agregarEmpleadoDepartamento"/>

<xs:element name="agregarEmpleadoDepartamentoResponse" type="tns:agregarEmpleadoDepartamentoResponse"/>

<xs:element name="agregarEmpleados" type="tns:agregarEmpleados"/>

<xs:element name="agregarEmpleadosResponse" type="tns:agregarEmpleadosResponse"/>

<xs:element name="agregarResponse" type="tns:agregarResponse"/>

<xs:element name="listar" type="tns:listar"/>

<xs:element name="listarDepartamentos" type="tns:listarDepartamentos"/>

<xs:element name="listarDepartamentosEmpleados" type="tns:listarDepartamentosEmpleados"/>

<xs:element name="listarDepartamentosEmpleadosResponse" type="tns:listarDepartamentosEmpleadosResponse"/>

<xs:element name="listarDepartamentosResponse" type="tns:listarDepartamentosResponse"/>

<xs:element name="listarEmpleados" type="tns:listarEmpleados"/>

<xs:element name="listarEmpleadosID" type="tns:listarEmpleadosID"/>

<xs:element name="listarEmpleadosIDResponse" type="tns:listarEmpleadosIDResponse"/>

<xs:element name="listarEmpleadosResponse" type="tns:listarEmpleadosResponse"/>

<xs:element name="listarID" type="tns:listarID"/>

<xs:element name="listarIDResponse" type="tns:listarIDResponse"/>

<xs:element name="listarResponse" type="tns:listarResponse"/>

<xs:complexType name="listarEmpleados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarEmpleadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="age" type="xs:int"/>
<xs:element name="created_by" type="xs:string" minOccurs="0"/>
<xs:element name="created_date" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="modified_by" type="xs:string" minOccurs="0"/>
<xs:element name="modified_date" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarEmpleadoDepartamento">
<xs:sequence>
<xs:element name="id_employee" type="xs:int"/>
<xs:element name="id_department" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarEmpleadoDepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizar">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="addres" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarDepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:int"/>
<xs:element name="id_interprise" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarDepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:enterprise" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enterprise">
<xs:sequence>
<xs:element name="addres" type="xs:string" minOccurs="0"/>
<xs:element name="created_by" type="xs:string" minOccurs="0"/>
<xs:element name="created_date" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="modified_by" type="xs:string" minOccurs="0"/>
<xs:element name="modified_date" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:int"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarResponse">
<xs:sequence>
<xs:element name="return" type="tns:enterprise" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarEmpleados_departamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_employee" type="xs:int"/>
<xs:element name="id_department" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarEmpleados_departamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEmpleadosID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEmpleadosIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarResponse">
<xs:sequence>
<xs:element name="return" type="tns:enterprise" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDepartamentos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarDepartamentosResponse">
<xs:sequence>
<xs:element name="return" type="tns:department" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="department">
<xs:sequence>
<xs:element name="created_by" type="xs:string" minOccurs="0"/>
<xs:element name="created_date" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_enterprise" type="xs:int"/>
<xs:element name="modified_by" type="xs:string" minOccurs="0"/>
<xs:element name="modified_date" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:int"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarDepartamento">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:int"/>
<xs:element name="id_interprise" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarDepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarEmpleados">
<xs:sequence>
<xs:element name="age" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarEmpleadosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDepartamentosEmpleados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarDepartamentosEmpleadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:departmentsEmployees" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="departmentsEmployees">
<xs:sequence>
<xs:element name="created_by" type="xs:string" minOccurs="0"/>
<xs:element name="created_date" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_department" type="xs:int"/>
<xs:element name="id_employee" type="xs:int"/>
<xs:element name="modified_by" type="xs:string" minOccurs="0"/>
<xs:element name="modified_date" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarEmpleados">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="age" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarEmpleadosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>