src/wsdl/localhost_8080/backEnd/Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices/" name="Service">
<types>
<xsd:schema>
<xsd:import namespace="http://webServices/" schemaLocation="http://localhost:8080/backEnd/Service?xsd=1"/>
</xsd:schema>
</types>
<message name="listarDepartamentosEmpleados">
<part name="parameters" element="tns:listarDepartamentosEmpleados"/>
</message>
<message name="listarDepartamentosEmpleadosResponse">
<part name="parameters" element="tns:listarDepartamentosEmpleadosResponse"/>
</message>
<message name="listarEmpleados">
<part name="parameters" element="tns:listarEmpleados"/>
</message>
<message name="listarEmpleadosResponse">
<part name="parameters" element="tns:listarEmpleadosResponse"/>
</message>
<message name="listarDepartamentos">
<part name="parameters" element="tns:listarDepartamentos"/>
</message>
<message name="listarDepartamentosResponse">
<part name="parameters" element="tns:listarDepartamentosResponse"/>
</message>
<message name="EliminarEmpresa">
<part name="parameters" element="tns:EliminarEmpresa"/>
</message>
<message name="EliminarEmpresaResponse">
<part name="parameters" element="tns:EliminarEmpresaResponse"/>
</message>
<message name="ActualizarEmpresa">
<part name="parameters" element="tns:ActualizarEmpresa"/>
</message>
<message name="ActualizarEmpresaResponse">
<part name="parameters" element="tns:ActualizarEmpresaResponse"/>
</message>
<message name="agregarEmpresa">
<part name="parameters" element="tns:agregarEmpresa"/>
</message>
<message name="agregarEmpresaResponse">
<part name="parameters" element="tns:agregarEmpresaResponse"/>
</message>
<message name="listarEmpresas">
<part name="parameters" element="tns:listarEmpresas"/>
</message>
<message name="listarEmpresasResponse">
<part name="parameters" element="tns:listarEmpresasResponse"/>
</message>
<message name="listarEmpresaID">
<part name="parameters" element="tns:listarEmpresaID"/>
</message>
<message name="listarEmpresaIDResponse">
<part name="parameters" element="tns:listarEmpresaIDResponse"/>
</message>
<message name="agregarEmpleados">
<part name="parameters" element="tns:agregarEmpleados"/>
</message>
<message name="agregarEmpleadosResponse">
<part name="parameters" element="tns:agregarEmpleadosResponse"/>
</message>
<message name="listarEmpleadosID">
<part name="parameters" element="tns:listarEmpleadosID"/>
</message>
<message name="listarEmpleadosIDResponse">
<part name="parameters" element="tns:listarEmpleadosIDResponse"/>
</message>
<message name="ActualizarEmpleados_departamento">
<part name="parameters" element="tns:ActualizarEmpleados_departamento"/>
</message>
<message name="ActualizarEmpleados_departamentoResponse">
<part name="parameters" element="tns:ActualizarEmpleados_departamentoResponse"/>
</message>
<message name="agregarDepartamento">
<part name="parameters" element="tns:agregarDepartamento"/>
</message>
<message name="agregarDepartamentoResponse">
<part name="parameters" element="tns:agregarDepartamentoResponse"/>
</message>
<message name="actualizarDepartamento">
<part name="parameters" element="tns:actualizarDepartamento"/>
</message>
<message name="actualizarDepartamentoResponse">
<part name="parameters" element="tns:actualizarDepartamentoResponse"/>
</message>
<message name="ActualizarEmpleados">
<part name="parameters" element="tns:ActualizarEmpleados"/>
</message>
<message name="ActualizarEmpleadosResponse">
<part name="parameters" element="tns:ActualizarEmpleadosResponse"/>
</message>
<message name="agregarEmpleadoDepartamento">
<part name="parameters" element="tns:agregarEmpleadoDepartamento"/>
</message>
<message name="agregarEmpleadoDepartamentoResponse">
<part name="parameters" element="tns:agregarEmpleadoDepartamentoResponse"/>
</message>
<portType name="ServiceEnterprise">
<operation name="listarDepartamentosEmpleados">
<input wsam:Action="http://webServices/ServiceEnterprise/listarDepartamentosEmpleadosRequest" message="tns:listarDepartamentosEmpleados"/>
<output wsam:Action="http://webServices/ServiceEnterprise/listarDepartamentosEmpleadosResponse" message="tns:listarDepartamentosEmpleadosResponse"/>
</operation>
<operation name="listarEmpleados">
<input wsam:Action="http://webServices/ServiceEnterprise/listarEmpleadosRequest" message="tns:listarEmpleados"/>
<output wsam:Action="http://webServices/ServiceEnterprise/listarEmpleadosResponse" message="tns:listarEmpleadosResponse"/>
</operation>
<operation name="listarDepartamentos">
<input wsam:Action="http://webServices/ServiceEnterprise/listarDepartamentosRequest" message="tns:listarDepartamentos"/>
<output wsam:Action="http://webServices/ServiceEnterprise/listarDepartamentosResponse" message="tns:listarDepartamentosResponse"/>
</operation>
<operation name="EliminarEmpresa">
<input wsam:Action="http://webServices/ServiceEnterprise/EliminarEmpresaRequest" message="tns:EliminarEmpresa"/>
<output wsam:Action="http://webServices/ServiceEnterprise/EliminarEmpresaResponse" message="tns:EliminarEmpresaResponse"/>
</operation>
<operation name="ActualizarEmpresa">
<input wsam:Action="http://webServices/ServiceEnterprise/ActualizarEmpresaRequest" message="tns:ActualizarEmpresa"/>
<output wsam:Action="http://webServices/ServiceEnterprise/ActualizarEmpresaResponse" message="tns:ActualizarEmpresaResponse"/>
</operation>
<operation name="agregarEmpresa">
<input wsam:Action="http://webServices/ServiceEnterprise/agregarEmpresaRequest" message="tns:agregarEmpresa"/>
<output wsam:Action="http://webServices/ServiceEnterprise/agregarEmpresaResponse" message="tns:agregarEmpresaResponse"/>
</operation>
<operation name="listarEmpresas">
<input wsam:Action="http://webServices/ServiceEnterprise/listarEmpresasRequest" message="tns:listarEmpresas"/>
<output wsam:Action="http://webServices/ServiceEnterprise/listarEmpresasResponse" message="tns:listarEmpresasResponse"/>
</operation>
<operation name="listarEmpresaID">
<input wsam:Action="http://webServices/ServiceEnterprise/listarEmpresaIDRequest" message="tns:listarEmpresaID"/>
<output wsam:Action="http://webServices/ServiceEnterprise/listarEmpresaIDResponse" message="tns:listarEmpresaIDResponse"/>
</operation>
<operation name="agregarEmpleados">
<input wsam:Action="http://webServices/ServiceEnterprise/agregarEmpleadosRequest" message="tns:agregarEmpleados"/>
<output wsam:Action="http://webServices/ServiceEnterprise/agregarEmpleadosResponse" message="tns:agregarEmpleadosResponse"/>
</operation>
<operation name="listarEmpleadosID">
<input wsam:Action="http://webServices/ServiceEnterprise/listarEmpleadosIDRequest" message="tns:listarEmpleadosID"/>
<output wsam:Action="http://webServices/ServiceEnterprise/listarEmpleadosIDResponse" message="tns:listarEmpleadosIDResponse"/>
</operation>
<operation name="ActualizarEmpleados_departamento">
<input wsam:Action="http://webServices/ServiceEnterprise/ActualizarEmpleados_departamentoRequest" message="tns:ActualizarEmpleados_departamento"/>
<output wsam:Action="http://webServices/ServiceEnterprise/ActualizarEmpleados_departamentoResponse" message="tns:ActualizarEmpleados_departamentoResponse"/>
</operation>
<operation name="agregarDepartamento">
<input wsam:Action="http://webServices/ServiceEnterprise/agregarDepartamentoRequest" message="tns:agregarDepartamento"/>
<output wsam:Action="http://webServices/ServiceEnterprise/agregarDepartamentoResponse" message="tns:agregarDepartamentoResponse"/>
</operation>
<operation name="actualizarDepartamento">
<input wsam:Action="http://webServices/ServiceEnterprise/actualizarDepartamentoRequest" message="tns:actualizarDepartamento"/>
<output wsam:Action="http://webServices/ServiceEnterprise/actualizarDepartamentoResponse" message="tns:actualizarDepartamentoResponse"/>
</operation>
<operation name="ActualizarEmpleados">
<input wsam:Action="http://webServices/ServiceEnterprise/ActualizarEmpleadosRequest" message="tns:ActualizarEmpleados"/>
<output wsam:Action="http://webServices/ServiceEnterprise/ActualizarEmpleadosResponse" message="tns:ActualizarEmpleadosResponse"/>
</operation>
<operation name="agregarEmpleadoDepartamento">
<input wsam:Action="http://webServices/ServiceEnterprise/agregarEmpleadoDepartamentoRequest" message="tns:agregarEmpleadoDepartamento"/>
<output wsam:Action="http://webServices/ServiceEnterprise/agregarEmpleadoDepartamentoResponse" message="tns:agregarEmpleadoDepartamentoResponse"/>
</operation>
</portType>
<binding name="ServiceEnterprisePortBinding" type="tns:ServiceEnterprise">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarDepartamentosEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarDepartamentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpresas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpresaID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleadosID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarEmpleados_departamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarEmpleadoDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Service">
<port name="ServiceEnterprisePort" binding="tns:ServiceEnterprisePortBinding">
<soap:address location="http://localhost:8080/backEnd/Service"/>
</port>
</service>
</definitions>